@media @mobile-widths-only{
.main-nav {
  // width: 320px;
  width: auto;
  margin: 0 auto;
  min-height: 51px;
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__user-item{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__toggle{
    display: block;
    outline:none;
    border: none;
    width: 70px;
    height: 50px;
    background: #6a4d38;
    font-size: 0px;
    position: absolute;

  }
}

.main-nav{
   position: relative;
  .main-nav__list a[href],
  .main-nav__user-item{
    display: none;
  }

  .main-nav{
  &__toggle{
    right: 0;
  }
  &__toggle::before{
    content: "";
    display: block;
    background: white;
    width: 36px;
    height: 2px;
    position: absolute;
    top: 15px;
    left: 17px;
    box-shadow: 0 8px white,
                0 16px white;
    }
  }
  &--closed{
    .main-nav__list a[href]{
      display: none;
    }
    .main-nav__user-item{
      display: none;
    }
  }
}

.main-nav--opened{
  .main-nav__list a[href]{
    display: block;
  }
  .main-nav__user-item{
    display: block;
  }
  .main-nav{
    &__toggle{
      left: 0;
    }
    &__toggle::before,
    &__toggle::after{
      display: block;
      content: "";
      background: white;
      width: 36px;
      height: 2px;
      position: absolute;
      top: 22px;
      left: 17px;
      box-shadow: none;
    }
    &__toggle::before{
      transform: rotate(45deg);
    }
    &__toggle::after{
      transform: rotate(-45deg);
    }
  }
  .main-nav__wrapper{
    position: absolute;
    left: 70px;
    z-index: 10;
    width: 250px;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
    }
  }
}

.main-nav--no-js{
  .main-nav__list a[href]{
    display: block;
  }
  .main-nav__user-item{
    display: block;
  }
  .main-nav__toggle{
    display: none;
  }
  .main-nav__wrapper{
    position: static;
    .main-nav__user-item{
      height: auto;
      padding-bottom: 20px;
    }
  }
}
.main-nav__item a[href]{
  &:hover{
    background: #6a4d38;
    border: none;
    padding-bottom: 13px;
    padding-top: 13px;
  }

}
.main-nav__item a{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  border-bottom: 1px  solid #71543f;
  border-top: 1px solid #886e5b;
  background: #826550;
}
.main-nav__user-item{
  height: 315px;
  background: #6a4d38;
}
.main-nav__user-item a{
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-left: 45px;
  position: relative;
}
.main-nav__user-login::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/login.png) no-repeat;
    position: absolute;
    left: 20px;
    top: 20px;
}
}

@media @tablet-widths {
  button{
    display: none;
  }

  .main-nav {
  //  .clearfix();
    width:auto;
    background: #000000;
    &__list{
  //    float: left;
  //    width: 590px;
      font-size: 0px;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .main-nav__user-login::before{
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url(../img/login.png) no-repeat;
        position: absolute;
        left: 0px;
        top: 5px;

    }
    &__user-item{
  //    float: right;
      padding: 0;
      margin-top: 25px;
      position: relative;
      margin-left:40px;

  //    width: 48px;
      height: 20px;
      li{
        list-style: none;
        float: right;
      }
      a{
        text-decoration: none;
        display: block;
        font-size: 0px;
        &:hover{
          background: white;
          color:black;
        }
      }
    }
    &__wrapper{
    //.conteiner();
    .conteiner-fluid();
    display: flex;
    justify-content: space-between;
    .clearfix();
  }
  &__item{
    display: inline-block;
    padding: 0;
    list-style: none;

    a{
      text-decoration: none;
      display: block;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
      padding-top: 25px;
      &:hover{
        background: white;
        color:black;
      }
    }
    &:last-child {
      padding-right: 0;
    }
  }
 }
}
@media @desktop-widths {
  .main-nav{
    &__list{
    //  width:750px;

    }
    &__item{
      a{
      padding-right: 30px;
      padding-left: 30px;
      }
    }
    &__user-item{
    //  width: 200px;
      padding-right: 0;
      padding-left: 0;
      margin-top: 0;
      .main-nav__user-login{
        font-size: 18px;
        line-height: 24px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-top: 25px;
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        &::before{
            top:28px;
            left: 4px;
        }
        &:hover::before{
          background: black;
        }

      }
    }
  }
}
