.r(){
  outline: 2px solid red;
}

.page-header{
  &__logo{

    margin: 0 auto;
    width: 226px;
    img{
      padding-top: 29px;
      padding-bottom: 26px;
    }
  }
}

.main-nav {
  background: #826550;
}

@media @tablet-widths {
  .page-header{
   position: relative;
    min-height:70px;
  //  padding-bottom: 400px;
    display: flex;
    flex-direction: column;
    .page-header__logo {
    //  position: absolute;
    //  bottom:0px;
      height: 400px;
      margin: 0 auto;
      width:100%;
      order:1;
    }
  }
  .page-header__logo {
    .conteiner();
    background: #404040 url("../img/back-tablet.png") center no-repeat;
    background-size: cover;

  picture{
    img{
      margin: 0 auto;
      display: block;
      width: 380px;
    }
    }
  }

  }

@media @desktop-widths {
  .page-header{

  //  padding-bottom: 648px;
    bottom:0px;
    margin: 0 auto;
    width:100%;
  }
  .page-header .page-header__logo {
    background: none;
    height: 648px;
    background: #404040 url("../img/back-desktop.png") center top no-repeat;
    background-size: 100%;
    picture{
      img{
        padding-top: 60px;
      }
  }
}
}
