.price-list{
  color:white;

}
.price-list__title{
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding-top: 30px;
}
.price-list__table{
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  .r();
  tbody{
    display: block;
    width: 100%;

  }
  tr{
    display: block;
    margin-bottom: 15px;
    position: relative;
    .r();
    .clearfix();
  }
  td{
    display: block;
  }
  .table-tow__title{
    float: left;
    width: 64%;
    min-height: 50px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .table-row__price{
    float: right;
    width: 25%;
    min-height: 50px;
  }
  .table-row__charac{
    position: absolute;
    bottom: 0;
  }



  .table-row__number{
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    display: none;
  }

  .table-tow__title{
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    color: #ffffff;
  }

  .table-row__charac{
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #ffffff;
  }

  .table-row__price{
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #ffffff;
  }

}
